@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	background-color: hsl(30, 38%, 92%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	margin: 30px auto;
	padding: 0 30px;
}

.grid {
	max-width: 700px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: hsl(0, 0%, 100%);
	border-radius: 15px;
	overflow: hidden;
}

.grid img {
	max-width: 100%;
	display: inherit;
}

.card {
	padding: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card h6 {
	letter-spacing: 3px;
	text-transform: uppercase;
	color: hsl(228, 12%, 48%);
	font-size: 13px;
	font-weight: 500;
}

.card h2 {
	font-family: 'Fraunces', serif;
	font-weight: 700;
	font-size: 34px;
	line-height: 1em;
	color: hsl(212, 21%, 14%);
}

.card p {
	color: hsl(228, 12%, 48%);
	line-height: 1.6em;
}

.price .big-price {
	font-family: 'Fraunces', serif;
	font-weight: 700;
	font-size: 25px;
	color: hsl(158, 36%, 37%);
}

.price .small-price {
	color: hsl(228, 12%, 48%);
	text-decoration-line: line-through;
	margin-left: 25px;
}

.card .price {
	display: flex;
	align-items: center;
}

.btn {
	border-radius: 12px;
	border: none;
	background-color: hsl(158, 36%, 37%);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px;
	cursor: pointer;
	transition: background-color .3s ease;
}

.btn p {
	margin-left: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: hsl(0, 0%, 100%);

}

.btn:hover {
	background-color: hsl(158, 36%, 23%);
}

@media only screen and (max-width: 628px) {
	.grid {
		grid-template-columns: 1fr;
	}

	.grid img {
		max-height: 300px;
		object-fit: cover;
		width: 100%;
	}

	.card {
		display: block;
	}

	.card h6, h2, p, .price {
		padding-bottom: 26px;
	}

	.btn {
		width: 100%;
	}

	.btn p {
		padding: 0;
	}

	.btn img {
		width: 14px;
		height: 14px;
	}
}
